@page
@model SafeBuilding.Pages.ServiceCrud.EditModel
@{
    ViewData["Title"] = "Service page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<h4 >Service</h4>
<hr />
<div class="row" id="main-content">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Service.Id" />
            <div class="form-group">
                <label asp-for="Service.Description" class="control-label"></label>
                <input asp-for="Service.Description" class="form-control" />
                <span asp-validation-for="Service.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Name" class="control-label"></label>
                <input asp-for="Service.Name" class="form-control" />
                <span asp-validation-for="Service.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Price" class="control-label"></label>
                <input asp-for="Service.Price" class="form-control" />
                <span asp-validation-for="Service.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Status" class="control-label"></label>
                 <select asp-for="Service.Status">
                    <option asp-for="Service.Status" selected hidden></option>
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="INACTIVE">INACTIVE</option>
                </select>
                <span asp-validation-for="Service.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="back-button">
    <a asp-page="/ServicePage" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
